body {
    width: 100vw;
    height: 100vh;
    background: url(../img/phot.jpg);
    background-size: cover;
}
.container {
    height: 100vh;
}
.title {
    color: rgb(13,110,253);
    font-weight: bold;
    text-shadow: 1px 1px rgb(0,0,0);
}